<ion-content class="background" fullscreen="true">

<ion-header translucent="true" no-border>
  <ion-grid class="scanHeader">
    <ion-row>

      <ion-col class="flexcontainer">
        <ion-menu-button></ion-menu-button>
      </ion-col>

      <ion-col class="flexcontainer">
      </ion-col>

      <ion-col class="flexcontainer">
      </ion-col>
     
    </ion-row>

  </ion-grid>
</ion-header>

<ion-slides>

  <ion-slide >
    <app-rightslide></app-rightslide>
  </ion-slide>
  
  
  </ion-slides>
  

</ion-content>



<!-- FOOTER -->
<ion-footer translucent="true" no-border>
  <ion-grid class="scanFooter">
  

  </ion-grid>
</ion-footer>
