<ion-content class="background" fullscreen="true">


  <ion-slides pager="false" [options]="slideOpts">

    <ion-slide>
      <ion-list class="bg-transparent">
        <app-leftcard [imageSource]="'../../assets/scanWine.jpg'" [subtitle]="'It all starts now'" [title]="'Scan'"
          [content]="'Scan products with your smartphone'">
        </app-leftcard>

        <app-leftcard [imageSource]="'../../assets/scanVoucher.jpg'" [subtitle]="'Get what you are owed'"
          [title]="'Claim'" [content]="'Claim rewards for products'">
        </app-leftcard>
        <app-leftcard [imageSource]="'../../assets/cellPhones.jpg'" [subtitle]="'Make my day'" [title]="'Share'"
          [content]="'Share rewards with friends and family'">
        </app-leftcard>

        <app-leftcard [imageSource]="'../../assets/businessWoman.jpg'" [subtitle]="'What is new?'" [title]="'Notify'"
          [content]="'Get notified about rewards'">
        </app-leftcard>

      </ion-list>
    </ion-slide>

    <ion-slide>
      <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">
      <ion-fab-button (click)="reset()" *ngIf="scanResult">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
      <video #video [hidden]="!scanActive" width="100%" class="myphoto"></video>
      <canvas #canvas hidden></canvas>
      <ion-card *ngIf="scanResult" class="chipCardconteudo">
        <ion-card-header>
          <ion-card-title>
            {{ scanResult }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-icon name="qr-code-outline" class="scanIcon" *ngIf="!scanResult"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-list class="bg-transparent">
    
        <ion-item-sliding *ngFor="let reward of rewardArray;">
          <app-rightcard  [title]=reward ></app-rightcard>
         </ion-item-sliding>
 
      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer translucent="true" no-border>
  <ion-grid class="scanFooter">
    <ion-row>

      <ion-col class="flexcontainer">
        <ion-fab-button (click)="captureImage()" class="fabNow">
          <ion-icon name="image-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col class="flexcontainer">
        <!-- Stop our scanner preview if active -->
        <ion-fab-button (click)="stopScan()" class="fabNow" *ngIf="scanActive">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col class="flexcontainer">
        <ion-fab-button (click)="startScan()" class="fabNow">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>

<!-- Trigger the file input -->