<ion-content class="background" fullscreen="true">

  <ion-header translucent="true" no-border>
    <ion-grid class="scanHeader">
      <ion-row>
  
        <ion-col class="flexcontainer">
          <ion-menu-button></ion-menu-button>
        </ion-col>
  
        <ion-col class="flexcontainer">
        </ion-col>
  
        <ion-col class="flexcontainer">
        </ion-col>
  
       
      </ion-row>
  
    </ion-grid>
  </ion-header>
  


  <ion-slides pager="false" [options]="slideOpts" >

    <!-- LEFTSLIDE -->
    <ion-slide>
      <ion-list class="bg-transparent">
        <app-leftcard [imageSource]="'../../assets/phonescan.gif'" [subtitle]="'Scan products to get rewards'" [title]="'Scan'"> </app-leftcard>
        <app-leftcard [imageSource]="'../../assets/share.gif'" [subtitle]="'Share rewards with friends'" [title]="'Share'"> </app-leftcard>
        <app-leftcard [imageSource]="'../../assets/phone.gif'" [subtitle]="'Find the best for you'" [title]="'Find'"> </app-leftcard>
       
      </ion-list>
    </ion-slide>

    <!-- SCANNER SLIDE -->
    <ion-slide>
      <img src="../../assets/scanimation2.gif"  class="scanimation" style="z-index: 1;">
    </ion-slide>
 

    <!-- RIGHTSLIDE -->

  <ion-slide >
    <app-rightslide></app-rightslide>
  </ion-slide>


  </ion-slides>

</ion-content>

<!-- FOOTER -->
<ion-footer translucent="true" no-border>
  <ion-grid class="scanFooter">
    <ion-row>

      <ion-col class="flexcontainer">
        <ion-fab-button (click)="upload()" class="fabNow">
          <ion-icon name="image-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>

    

      <ion-col class="flexcontainer">
        <ion-fab-button (click)="scan()" class="fabNow">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>
