/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content.background {
    --background: url(../../ionicTest/src/assets/puurp.png) no-repeat center/cover fixed;
  }

  .cardconteudo {
    background: rgba(0,0,0,0.4);
   border-radius: 15px 170px 170px 15px;
}

.chipCardconteudo {
  background: rgba(0,0,0,0.4);
 border-radius: 170px 170px 170px 170px;
}

.slideMargin{
  margin: -10%;
}




.centerSlides{
    vertical-align: center;
}

.bg-transparent {
  background: transparent;
}

.scanFooter {
  vertical-align: bottom;
  background: rgba(0,0,0,0.4);
}


.scanimation{
  vertical-align: middle;
  text-align: center;
  height: 350px;
  width: 350px;
  filter: invert(100%);

}

.myphoto {
  vertical-align: middle;
  text-align: center;
  height: 350px;
  width: 350px;
  }

  .myphotoIconBox {
    width: auto;
    margin: auto;
    text-align: center;
    vertical-align: center;
    margin: 10%;
    background: rgba(0,0,0,0.4);
  }

  .slideCardconteudo {
    background: rgba(0,0,0,0.4);
   border-radius: 170px 15px 15px 170px;
   text-align: right;
   width: 340px;
  }

  .swipeFab {
    width: auto;
    margin: auto;
    text-align: right;
    vertical-align: middle;
    margin: 4%;
    padding-left: 5%;
  }

  .rightCardIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-130%, -50%);
    width: 50px;
    height: 50px;
    display: block;

  }

  .fabNow{
    border-style: solid;
      border-radius: 50%;
      border-width: 2px;
      border-color: white;
    --background: rgba(0,0,0,0.0);
    

  }